/* Supprimer le fond gris des champs auto-remplis */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    background-color: transparent !important;

    transition: background-color 5000s ease-in-out 0s;
}

input:-webkit-autofill {
    color: rgb(48, 47, 47) !important;
    -webkit-text-fill-color: rgb(47, 47, 47) !important;
    /* Applique la couleur au texte auto-rempli */
}



body {
    background-image: url('./back.png');
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.global-box1 {
    position: relative;
    padding: 351px;
    text-align: center;
    width: 750px;
    max-width: 100%;
}

.white-box11 {
    position: absolute;
    background-color: #ffffff;
    padding: 100px;
    height: 505px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 762px;
    max-width: 100%;
    right: 0px;
    top: 0px;


}

.grey-box1 {
    position: absolute;
    background-color: #D4D6D8;
    padding: 100px;
    height: 505px;
    border-radius: 30px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 283px;
    max-width: 100%;
    right: 160px;
    left: 6px;
    top: 0px;
    z-index: 2;
    /* contenu au-dessus */
}

.image-left1 {
    position: absolute;
    right: 62%;
    top: 82%;
    transform: translateY(0%);
    width: 330px;
    z-index: 0;
    /* L'image est en arrière-plan */
}

.image-left1 img {
    width: 45%;
    height: auto;
}

.account-icon {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 35px;
    color: #5e6973;
    cursor: pointer;
    z-index: 10;
}


.account-icon:hover {
    color: #0056b3;
}


.account-info {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: rgba(138, 161, 185, 0.955);
    border: 1px solid rgba(138, 161, 185, 0.955);
    border-radius: 20px;
    padding: 20px;
    width: 250px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    z-index: 9;
}

.account-info p {
    margin: 10px 0;
    font-size: 16px;
    text-align: left;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

.account-info button {
    margin-top: 10px;
    padding: 9px;
    width: 100%;
    background-color: #97999b;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

.account-info button:hover {
    background-color: #0056b3;
}

.account-button {
    display: flex;
    align-items: center;
    gap: 0px;
    padding-left: 40px;
    position: relative;
}

.account-icon-btn {
    position: absolute;
    left: 15px;
    font-size: 20px;
}

.account-button .button-textt {
    margin: 0 auto;
    text-align: start;
    margin-left: 40px;
    size: 9px;
}

.titre-liste-des-categories {
    font-family: 'Rammetto One', sans-serif;
    position: absolute;
    left: 80px;
    top: 20px;
    font-size: 26px;
    color: #0B3164;
    cursor: pointer;
    width: 350px;
}

.titre-liste-questions {
    font-family: 'Rammetto One', sans-serif;
    position: absolute;
    left: 220px;
    top: 20px;
    font-size: 26px;
    color: #0B3164;
    cursor: pointer;
    width: 350px;
}

.categorie-item1 {
    position: relative;
    bottom: 30px;
    right: 18px;
    font-size: 18px;
    padding: 30px;
    background-color: transparent;
    border-radius: 10px;
    font-weight: bold;
    color: #32527c;
    text-align: left;
    width: 350px;

}





.category-name1 {
    font-weight: bold;
}



.categorie-scroll11 {
    position: relative;
    right: 40px;
    max-height: 570px;
    /* ajuste selon tes besoins */
    overflow-y: auto;
    padding-right: 0px;
    margin-top: 5px;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    width: 420px;



}

.categorie-scroll11::-webkit-scrollbar {
    width: 6px;
}

.categorie-scroll11::-webkit-scrollbar-track {
    background: transparent;
}

.categorie-scroll11::-webkit-scrollbar-thumb {
    background: rgba(55, 54, 54, 0.3);
    border-radius: 8px;
}

.categorie-question-scroll1 {
    max-height: 570px;
    /* ajuste selon tes besoins */
    overflow-y: auto;
    padding-right: 0px;
    margin-top: 0px;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    width: 855px;

}

.categorie-question-scroll1::-webkit-scrollbar {
    width: 6px;
}

.categorie-question-scroll1:-webkit-scrollbar-track {
    background: transparent;
}

.categorie-question-scroll1::-webkit-scrollbar-thumb {
    background: rgba(100, 100, 100, 0.3);
    border-radius: 8px;
}


.categorie-contenu {
    margin-bottom: 20px;
    text-align: left;
}

.categorie-titre {
    font-size: 20px;
    color: #195db7;
    font-weight: bold;
}

.question-bloc1 {
    margin-bottom: 40px;
}

.question-numero1 {
    font-weight: bold;
    color: #0b3164;
}

.question-texte1 {
    margin-left: 20px;
    color: #000000;
    /* Noir */
}

.liste-reponses1 {
    position: relative;
    margin-left: 40px;
    list-style-type: none;
    padding-left: 0;
    bottom: 20px;
}

.reponse-item1 {
    color: #153d73;
    /* Bleu foncé */
    margin-bottom: 6px;
}



.reponses-container1 {
    margin-top: 10px;
    /* Augmenter l'espacement avant le conteneur des réponses */
    padding-left: 25px;

}

.reponse-item.correct {
    border-left-color: #28a745;
    background-color: #e6f7ea;
    font-weight: bold;
}

.reponse-item.incorrect {
    border-left-color: #dc3545;
    background-color: #fcebea;
    color: #a94442;
}