.signup1-link {
  position: absolute;
  top: 60px;
  left: 600px;
  font-family: 'Rammetto One', sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #0B3164;
  text-decoration: underline;
}

.login1-link {
  position: absolute;
  top: 60px;
  left: 100px;
  font-family: 'Rammetto One', sans-serif;
  font-size: 35px;
  font-weight: bold;
  color: #8997A7;
  cursor: pointer;
}

.login1-link:hover {
  text-decoration: underline;
}

.signup-button:hover {
  background-color: #4D75A2;
}



.image-right {
  position: absolute;
  right: 150px;
  top: 50%;
  transform: translateY(-50%);
  width: 450px;
}

.image-right img {
  width: 100%;
  height: auto;
}

.nom-container {
  position: absolute;
  left: 100px;
  top: 190px;
  display: flex;
  align-items: center;
  background: #ECF1F6;
  padding: 7px;
  border-radius: 10px;
  width: 21%;
}

.nom-input input {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #ECF1F6;
  font-size: 22px;
  color: #4b4a4a;
  outline: none;
}


.prenom-container {
  position: absolute;
  left: 430px;
  top: 190px;
  display: flex;
  align-items: center;
  background: #ECF1F6;
  padding: 7px;
  border-radius: 10px;
  width: 21.2%;
}

.prenom-input input {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #ECF1F6;
  font-size: 22px;
  color: #4b4a4a;
  outline: none;
}


.mail-container {
  position: absolute;
  left: 100px;
  top: 280px;
  display: flex;
  align-items: center;
  background: #ECF1F6;
  padding: 7px;
  border-radius: 10px;
  width: 44%;


}

.mail-input input {
  width: 150%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #ECF1F6;
  font-size: 22px;
  color: #4b4a4a;
  outline: none;
}

.password-icon,
.email-icon,
.password-icon {
  font-size: 20px;
  color: #19437A;
  margin-right: 1px;
  margin-top: 9px;
  margin-bottom: 5px;
  vertical-align: middle;
  /* Centre par rapport au texte */
}

.eye-icon {
  font-size: 22px;
  color: #666;
  position: absolute;
  right: 10px;
  cursor: pointer;
  margin-top: 9px;
  margin-bottom: 5px;
}

.eye-icon:hover {
  color: #19437A;
}


.rolee-container {
  position: absolute;
  left: 100px;
  top: 364px;
  display: flex;
  align-items: center;
  padding: 9px;
  border-radius: 10px;
  width: 44.5%;
}

.rolee-label {
  font-size: 22px;
  font-weight: bold;
  color: #19437A;
  margin-right: 25px;

}

.rolee-select {
  flex: 1;
  padding: 15px;
  font-size: 21px;
  color: #4b4a4a;
  border: 1px solid #ECF1F6;
  border-radius: 8px;
  background-color: #ECF1F6;
  cursor: pointer;
  height: 60px
}

.rolee-select:focus {
  outline: none;
  border-color: #757676;
}

.password1-container {
  position: absolute;
  left: 100px;
  top: 463px;
  display: flex;
  align-items: center;
  background: #ECF1F6;
  padding: 9px;
  border-radius: 10px;
  width: 44%;
}

.password1-input input {
  width: 150%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #ECF1F6;
  font-size: 22px;
  color: #4b4a4a;
  outline: none;
}



.passwordconfirm-container {
  position: absolute;
  left: 100px;
  top: 555px;
  display: flex;
  align-items: center;
  background: #ECF1F6;
  padding: 9px;
  border-radius: 10px;
  width: 44%;
}

.passwordconfirm-input input {
  width: 150%;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background: #ECF1F6;
  font-size: 22px;
  color: #4b4a4a;
  outline: none;
}

.password-input svg {
  display: none;
}

.login-redirect {
  position: absolute;
  left: 557px;
  bottom: 25px;
  font-size: 20px;
  color: #0B3164;
  cursor: pointer;
  font-family: "Pridi", serif;

}


.login-redirect :hover {
  text-decoration: underline;
}

.error-border {
  border: 2px solid red !important;
}

.error-nom {
  position: absolute;
  color: red;
  font-size: 13px;
  top: 241px;
  left: 110px;
  height: 40px;
}

.error-prenom {
  position: absolute;
  color: red;
  font-size: 13px;
  top: 241px;
  left: 442px;
  height: 40px;
}

.error-mail {
  position: absolute;
  color: red;
  font-size: 13px;
  top: 332px;
  left: 110px;
  height: 40px;
}

.error-role {
  position: absolute;
  color: red;
  font-size: 13px;
  top: 429px;
  left: 110px;
  height: 40px;
}

.error-mot_de_passe {
  position: absolute;
  color: red;
  font-size: 13px;
  top: 519px;
  left: 110px;
  height: 40px;
}

.error-confirmer_mot_de_passe {
  position: absolute;
  color: red;
  font-size: 13px;
  top: 610px;
  left: 110px;
  height: 40px;
}

.popup2-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.popup2-content {
  background-color: white;
  padding: 30px;
  border-radius: 12px;
  text-align: center;
  width: 400px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

.popup2-buttons {
  margin-top: 20px;
}

.btn-ok {
  background-color: #0B3164;
  color: white;
  padding: 6px 40px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}