.bienvenue2 {
  font-family: 'Alfa Slab One', sans-serif;
  position: absolute;
  left: 590px;
  top: 10px;
  font-size: 55px;
  color: #0B3164;
  cursor: pointer;
}

.creer1-test-button1 {
  position: absolute;
  font-family: 'Rammetto One', sans-serif;
  left: 34%;
  top: 315px;
  padding: 11px 100px;
  font-size: 25px;
  background-color: #19437A;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.ajouter1-qcm-button1 {
  position: absolute;
  font-family: 'Rammetto One', sans-serif;
  left: 34%;
  top: 115px;
  padding: 11px 100px;
  font-size: 25px;
  background-color: #19437A;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.consulter1-question-button1 {
  position: absolute;
  font-family: 'Rammetto One', sans-serif;
  left: 34%;
  top: 215px;
  padding: 11px 100px;
  font-size: 25px;
  background-color: #19437A;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.consulter1-test2-button1 {
  position: absolute;
  font-family: 'Rammetto One', sans-serif;
  left: 34%;
  top: 415px;
  padding: 11px 100px;
  font-size: 25px;
  background-color: #19437A;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.supprimer1-test-button1 {
  position: absolute;
  font-family: 'Rammetto One', sans-serif;
  left: 34%;
  top: 515px;
  padding: 11px 100px;
  font-size: 25px;
  background-color: #19437A;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.gérer1-utilisateurs-button1 {
  position: absolute;
  font-family: 'Rammetto One', sans-serif;
  left: 34%;
  top: 615px;
  padding: 11px 100px;
  font-size: 25px;
  background-color: #19437A;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.consulter-test-button2:hover {
  background-color: #4D75A2;
}

.creer-test-button2:hover {
  background-color: #4D75A2;

}

.ajouter-qcm-button2:hover {
  background-color: #4D75A2;

}

.supprimer-test-button2:hover {
  background-color: #4D75A2;

}

.gérer-utilisateurs-button2:hover {
  background-color: #4D75A2;

}


.action-button0 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0px;
  /* pas d'espace par défaut */
  font-family: 'Rammetto One', sans-serif;
  background-color: #19437A;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 22px;
  padding: 17px 30px;
  width: 560px;
  left: 465px;

}

.action-button0:hover {
  background-color: #2860aa;
  transform: scale(1.05);
}

.button-icon2 {
  position: absolute;
  left: 45px;
  font-size: 28px;
}

.button-text2 {
  width: 100%;
  text-align: justify;
  padding-left: 60px;
}